@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap");

@media (min-width: 1440px) {
  .main-div {
    display: flex;
    background-color: #f4d04e;
    border-radius: 8px;
    width: 1440px;
    height: 960px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 334px;
    height: auto;
    min-height: 522px;
    padding: 24px 24px 24px 24px;
    align-items: center;
    background-color: white;
    border: 2px solid #111111;
    border-radius: 20px;
    box-shadow: 8px 8px 2px #111111;
  }

  .image-container {
    width: 330px;
    height: auto;
  }

  .image {
    display: block;
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 15px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
  }

  .category-container {
    display: flex;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: #f4d04e;
    justify-content: center;
    align-items: center;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }

  .text-category {
    font-family: "Figtree";
    font-weight: bold;
  }

  .text-published {
    font-family: "Figtree";
    font-weight: 600;
  }

  .text-h1 {
    font-family: "Figtree";
    font-weight: bolder;
    font-size: 25px;
  }

  .text-paragraph {
    font-family: "Figtree";
    color: #6b6b6b;
    font-weight: 600;
  }

  .text-profname {
    font-family: "Figtree";
    font-weight: 600;
  }
}

@media (max-width: 375px) {
  .main-div {
    display: flex;
    background-color: #f4d04e;
    border-radius: 8px;
    padding: 10px;
    width: 375px;
    height: 812px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 327px;
    height: auto;
    min-height: 522px;
    padding: 24px 24px 24px 24px;
    align-items: center;
    background-color: white;
    border: 2px solid #111111;
    border-radius: 20px;
    box-shadow: 8px 8px 2px #111111;
  }

  .image-container {
    width: 330px;
    height: auto;
  }

  .image {
    display: block;
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 15px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
  }

  .category-container {
    display: flex;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: #f4d04e;
    justify-content: center;
    align-items: center;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }

  .text-category {
    font-family: "Figtree";
    font-weight: bold;
  }

  .text-published {
    font-family: "Figtree";
    font-weight: 600;
  }

  .text-h1 {
    font-family: "Figtree";
    font-weight: bolder;
    font-size: 25px;
  }

  .text-paragraph {
    font-family: "Figtree";
    color: #6b6b6b;
    font-weight: 600;
  }

  .text-profname {
    font-family: "Figtree";
    font-weight: 600;
  }
}
